<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>blog</title>
    <link rel="stylesheet" href="../resources/css/common/init.css">
    <link rel="stylesheet" href="../resources/css/common/bootstrap.min.css">
    <link rel="stylesheet" href="../resources/css/index/index.css">

    <script src="../resources/js/common/jquery.min.js"></script>
</head>
<body>
    <!-- 头部 start -->
    <header>
        <nav></nav>
    </header>
    <!-- 头部 end -->

    <!-- 内容区 start -->
    <div id="content">
        <!-- 左侧 start -->
        <div id="left"></div>
        <!-- 左侧 end -->
        <!-- 右侧 start -->
        <div id="right"></div>
        <!-- 右侧 end -->
    </div>
    <!-- 内容区 end -->

    <!-- 底部 start -->
    <footer></footer>
    <!-- 底部 end -->

</body>
</html>
